#game{
    position:absolute;
    width:1000px;
    height:600px;
    margin-left:120px;
}


.ctxCSS{
    position:absolute; 
    border: 1px solid #000000;
    width: 1000px;
    height:600px;
}

#ui{
    position:absolute;
    width:1000px;
    height:600px;
}

#chat-text{
    display:none;
    color:white;
}

#chat-send{
    display:none;
}

#chat-input{
    width:500px
}

.changeMap{
    position:absolute;
    bottom:0px;
    left:0px;
}

.changeMap{
    position:absolute;
    bottom:0px;
    left:0px;
}
.changeHero{
    position:absolute;
    bottom:0px;
    left:0px;
    margin-left: 100px;
}

#belowGame{
    margin-top: 300px;
    margin-left:370px;
}

#chat-text{
    width:500px;
    height:100px;
    overflow-y:scroll;
}

.chatAbove{
    position:absolute;
    z-index: 1;
}

#abilities{
    margin-top:600px;
}

#gameDiv{
    display:none;
}